<nav class="side-nav">
    <h1>AFAS</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/audio-type">Audio Type</a>
    <a href="/upload">Upload Audio</a>
    <a href="/announcement-type">Announcement Type</a>
    <a href="/sequence">Sequence</a>
    <a href="/scheduler">Scheduler</a>
    <a href="/zones">Zones</a>
    <a href="/settings">Settings</a>
  </nav>
  